@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/110577319_p0.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
